.main-text-color{
  color: #979797;
}
.main-text-color-darker{
  color: #545454;
}
.d-flex{
  display: flex;
}
.jc-sb{
  justify-content: space-between;
}
.jc-c{
  justify-content: center;
}
.ai-c{
  align-items: center;
}
.main-bg-color{
  background-color: #3d3d3d;
}
.active-bg-color{
  background-color: #6c6c6c;
}
.info {
  width: 20%;
  margin-right: 1%;
}
