$gutter: 0.625vw;
$header-height: 5.507%;
$content-height: 80.287%;
$content-top-height: 72.977%;
$content-bottom-height: calc(100% - #{$content-top-height} - #{$gutter});
$footer-height: 2.093%;
$navbar-width: 18.0265%;
$middle-content-width: calc(100% - #{$navbar-width} - #{$gutter});
$content-left-width: 22.367%;
$content-right-width: calc(100% - #{$content-left-width} - #{$gutter});
$content-width: 80%;
$projects-img-height: 25%;
$nav-height: 20%;
$transition-delay: "0.3s";
